<div
  class="editor_terminal_tab_item"
  tabindex="0"
  [class.active]="isActive()"
  [matTooltip]="label()"
  [matTooltipShowDelay]="tooltipShowDelay()"
  [matTooltipDisabled]="isHoveringChild()"
>
  <span class="editor_terminal_tab_item_label">
    {{ label() }}
  </span>

  <span
    class="editor_terminal_tab_item_close"
    [matTooltip]="'delete ' + label()"
    (mouseenter)="childHovered()"
    (mouseleave)="childHoverLeave()"
  >
    <mat-icon fontIcon="delete"></mat-icon>
  </span>
</div>
