<div class="container">
  <div class="top">
    @for (el of sideBarElements; track $index) {
      <button
        mat-icon-button
        [matTooltip]="el.tooltip"
        (click)="toggleElement(el.element)"
        [class.active]="activeElement() == el.element"
      >
        <mat-icon>{{ el.icon }}</mat-icon>
      </button>
    }
  </div>

  <div class="bottom">
    <button mat-icon-button matTooltip="Account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>
