:host {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.container {
  flex: 1;
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
