:host {
  height: 55px;
  display: flex;
  min-height: 0;
  min-width: 0;
}

.container {
  flex: 1;
  min-height: 0;
  min-width: 0;
  display: flex;
}

.scroll_container {
  flex: 1;
  min-height: 0;
  min-width: 0;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.right {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
