<div class="container">
  @if (error) {
  <div>Error {{ error }}</div>
  }

  <!---->
  @if (!error && isLoading) {
  <div>Loading</div>
  }

  <!---->
  @if (!isLoading && !error) {
  <form class="top" (submit)="onSubmit($event)">
    <span class="directory">{{ currentActiveTerminal?.directory }} </span>
    <input
      type="text"
      class="terminal-input"
      autocomplete="off"
      name="command"
      [formControl]="cmdInputControl"
    />
  </form>

  <div class="content scroll_bar">
    @for (line of outputStr; track $index) {
    <span>
      {{ line }}
    </span>
    }
  </div>
  }
</div>
