:host {
  flex: 1;
  display: flex;
  min-height: 0;
  min-width: 0;
}

.file_x_directory_content_container {
  min-height: 0;
  min-width: 0;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 20px;
}
