@if (fileNode().mode === "default") {
  <div
    class="editor_file_explorer_tree_item"
    [matTooltip]="fileNode().path"
    [matTooltipShowDelay]="matTooltipShowDelayInMilliseconds"
    tabindex="0"
  >
    @if (fileNode().isDirectory) {
      <mat-icon
        [fontIcon]="
          fileNode().expanded ? 'keyboard_arrow_down' : 'keyboard_arrow_right'
        "
      />
    }

    <!---->
    <mat-icon
      [ariaLabel]="fileNode().isDirectory ? 'folder' : 'file'"
      [fontIcon]="fileNode().isDirectory ? 'folder' : 'description'"
    />

    <!---->
    <span class="editor_file_explorer_tree_item_name">
      {{ fileNode().name }}
    </span>
  </div>
}

<!---->
