<div class="parent">
  <app-top-bar />
  <div class="bottom">
    <app-side-bar />

    <div class="side" id="editor_resize_container">
      @if (isLeftActive) {
      <div class="left">
        @for (element of sideBarElements; track $index) {
        <!---->
        @if (element.condition()) {
        <ng-container *ngComponentOutlet="element.component" />
        }
        <!---->
        }
      </div>
      }
      <div class="right">
        @if (isOpenFileNode) {
        <app-open-file-container />
        } @else {
        <div>Fluffy mnain page</div>
        }
      </div>
    </div>
  </div>
</div>

<!---->
@if (isContextMenuActive) {
<app-context-menu />
}
