<div class="parent">
  <app-top-bar />
  <div class="bottom">
    <app-side-bar />

    <div class="side" id="editor_resize_container">
      @if (isLeftActive) {
      <div class="left">
        @if (sideBarActivateElement === "file-explorer") {
        <app-file-explorer />
        } @else if (sideBarActivateElement === "search") {
        <app-side-search />
        } @else if(sideBarActivateElement === "search-folders"){
        <app-side-folder-search />
        } @else {
        <div>Unkown state</div>
        }
      </div>
      }
      <div class="right">
        <app-open-file-container />
      </div>
    </div>
  </div>
</div>

<!---->
@if (isFileExplorerContextMenuActive) {
<app-file-explorer-context-menu />
}
