/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}

/* ============================ GLOBAL CSS NAMES ====================================*/
/* css class names impl that are generic and used app wide */

.scroll_bar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-border-primary) var(--color-background-secondary);
}

.scroll_bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll_bar::-webkit-scrollbar-track {
  background: var(--color-background-secondary);
  border-radius: var(--radius-sm);
}

.scroll_bar::-webkit-scrollbar-thumb {
  background-color: var(--color-border-primary);
  border-radius: var(--radius-sm);
  border: var(--border-width-1) solid var(--color-surface-base);
}

.scroll_bar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-brand-primary);
}
