<mat-toolbar class="editor_frame_container">
  <span class="editor_frame_title">Fluf</span>

  <div class="editor_frame_action_with_menus">
    <div class="editor_frame_actions">
      <span>foo</span>
    </div>
  </div>

  <div class="editor_frame_actions">
    <button matIconButton aria-label="Minimize editor" matTooltip="Minimize">
      <mat-icon>minimize</mat-icon>
    </button>
    <button matIconButton matTooltip="Maximize" matTooltip="Maximize">
      <mat-icon>crop_square</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Close" matTooltip="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-toolbar>
