.parent {
  width: 100%;
  height: 100%;
  min-height: 0;
  min-width: 0;

  display: flex;
  flex-direction: column;
}

.bottom {
  flex: 1;
  height: 100%;
  min-height: 0;
  min-width: 0;

  display: flex;
}

.side {
  flex: 1;
  height: 100%;
  min-height: 0;
  min-width: 0;

  display: flex;
}

.left {
  height: 100%;
  flex: 1; /* Value changed by resizer */
  min-height: 0; /*Make sure all flex containers have min height to allow overflow to work within them */
  min-width: 0;

  display: flex;
}

.right {
  height: 100%;
  min-height: 0;
  min-width: 0;
  flex: 1; /* Changed via resizer but here as a fallback when it isnt active */

  display: flex;
  flex-direction: column;
}

.main_wrappper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.ng_container_wrapper {
  display: flex;
  min-height: 0;
  min-width: 0;
  flex: 1;
}
