<div class="item" (click)="toggleChildren()">
  <span class="parent">
    @if (showChildren) {
    <mat-icon>keyboard_arrow_down</mat-icon>
    } @else {
    <mat-icon>keyboard_arrow_right</mat-icon>
    }
    <mat-icon>javascript</mat-icon>

    <span class="file_name">
      {{ result().fileName }}
    </span>
    <button mat-icon-button matTooltip="Close result">
      <mat-icon>close</mat-icon>
    </button>
  </span>
</div>

@if (showChildren) {
<!---->
@for (child of result().lines; track $index) {
<span class="child">
  <span class="match_str">
    {{ child.content }}
  </span>
  <button mat-icon-button matTooltip="Close result">
    <mat-icon>close</mat-icon>
  </button>
</span>
}
<!---->
}
