.parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  background-color: var(--color-background);
  color: var(--color-text-primary);

  width: 100%;
  height: 65px;

  -webkit-app-region: drag; /*Allows drag */
  user-select: none; /* optional: prevent text selection while dragging */
}

button,
mat-icon,
mat-tooltip {
  -webkit-app-region: no-drag;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}