<div class="parent">
  <div class="flex">
    <span> Fluffy </span>
    <div>
      @for (item of items; track $index) {
      <button matButton [matMenuTriggerFor]="menu" [ariaLabel]="item.tooltip">
        {{ item.label }}
      </button>
      <mat-menu #menu="matMenu">
        @for (child of item.children; track $index) {
        <button mat-menu-item (click)="child.onClick()">
          <span>{{ child.label }}</span>
        </button>
        }
      </mat-menu>
      }
    </div>
  </div>

  <!---->
  <div class="flex">
    <button mat-icon-button matTooltip="Minimize" (click)="minimize()">
      <mat-icon>minimize</mat-icon>
    </button>
    @if (isMaximized) {
    <button mat-icon-button matTooltip="Restore" (click)="restore()">
      <mat-icon>filter_none</mat-icon>
    </button>
    } @else {
    <button mat-icon-button matTooltip="Maximize" (click)="maximize()">
      <mat-icon>crop_square</mat-icon>
    </button>
    }
    <button mat-icon-button matTooltip="Close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
