.parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-2) var(--spacing-8);
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);

  width: 100%;
  height: 65px;

  -webkit-app-region: drag; /*Allows drag */
  user-select: none; /* optional: prevent text selection while dragging */
}

button,
mat-icon,
mat-tooltip {
  -webkit-app-region: no-drag;
}

.flex {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}
