:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.results {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.result-item {
  display: flex;
  flex-direction: column;
  gap: 2px;

  padding: 6px 8px;
  border-radius: 3px;
  cursor: pointer;

  font-family: Consolas, "Courier New", monospace;
}

.result-item:hover {
  background-color: var(--bg-hover);
}

.file-name {
  font-size: 13px;
  color: var(--text-primary);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-path {
  font-size: 11px;
  color: var(--text-secondary);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
