:host {
  display: flex;
  min-height: 0;
  min-width: 0;
  flex: 1;
}

.container {
  min-height: 0;
  min-width: 0;
  display: flex;
  flex: 1;
  background-color: #1e1e1e;
}

.code_mirrow_wrapper {
  min-height: 0;
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}