:host {
  flex: 1;
  display: flex;
  min-height: 0;
  min-width: 0;
}

.container {
  flex: 1;
  min-height: 0;
  min-width: 0;

  display: flex;
}

.left {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  min-height: 0;
  min-width: 0;
  overflow-y: auto;

  background-color: var(--bg-tertiary);
}

.right {
  flex: 1;
  min-height: 0;
  min-width: 0;
  display: flex;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}
