:host {
  display: flex;
  min-height: 0;
  min-width: 0;
  flex: 1;
}

.open_file_container_wrapper {
  flex-direction: column;

  display: flex;
  min-height: 0;
  min-width: 0;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
}
