:host {
  display: flex;
  min-height: 0;
  min-width: 0;
  flex: 1;
}

.open_file_container_wrapper {
  flex-direction: column;

  display: flex;
  min-height: 0;
  min-width: 0;
  flex: 1;
}

.resizer {
  height: 10px;
  background-color: rgb(51, 49, 49);
  cursor: row-resize;
}

.resizer:hover {
  background-color: rgb(78, 76, 76);
}
