:host {
  display: flex;
  height: 32px;
  min-height: 0;
  min-width: 0;
  padding: 2px;
}

.editor_open_files_container {
  display: flex;
  gap: 5px;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.editor_open_files_file_item {
  max-width: 225px;
  background-color: blue;
}
