<div class="editor_open_files_container scroll_bar">

  <!-- Add active if file is active -->
  <div class="editor_open_files_file_item">
    <mat-icon>
      {{ fileIcon() }}
    </mat-icon>
    <div class="file_item_name_container">
      <span class="file_item_name"
        >Lorem, ipsum dolor. Lorem, ipsum dolor.</span
      >
    </div>

     <!-- Add active if file is active opicaity is one for active ones -->
    <button matIconButton aria-label="Close file" matTooltip="Close file">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
