.file_tab_item {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  background-color: rgb(19, 18, 18);
  width: 176px;
  padding-left: 5px;
  padding-right: 5px;
}

.active {
  border-bottom: 5px solid blue;
  background-color: rgb(32, 32, 32);
}

.ellipses {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.error {
  color: red;
}

.error-count {
  font-size: 0.85em;
  margin-left: 4px;
  font-weight: 500;
}