.file_tab_item {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  width: 176px;
  padding-left: 5px;
  padding-right: 5px;

  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.active {
  border-top: 1px solid var(--border-focus);
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}

.ellipses {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.error {
  color: var(--text-error);
}

.error-count {
  font-size: 0.85em;
  margin-left: 4px;
  font-weight: 500;
}
