.container_one {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container_two {
  flex: 1;

  display: flex;
}

.resizer {
  width: 5px;
  height: 100%;
  background-color: rgb(48, 47, 47);
}

.resizer:hover {
  cursor: col-resize;
}

.container_three {
  flex: 1;
  display: flex;
}