.container_one {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 9fr;
  transition: grid-template-columns 0.3s;
}

.container_two {
  display: grid;
  grid-template-columns: 1fr 10fr;
  overflow: hidden;
  transition: grid-template-columns 0.3s;
}

.container_three_active {
  /*Apply this when side bar is active*/
  display: grid;
  grid-template-columns: 2fr 8fr;
  transition: grid-template-columns 0.3s;
}

.container_three_inactive {
  /*Apply when side bar is gone*/
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.one {
  background-color: antiquewhite;
}

.two {
  background-color: bisque;
}

@media (min-width: 1200px) {
  .container_one {
    grid-template-rows: 1fr 11fr;
  }

  .container_two {
    grid-template-columns: 0.5fr 10fr;
  }
 
  .container_three_active{
    grid-template-columns: 2fr 8fr;
  }
}
