.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page_wrapper {
  flex: 1;
  display: flex;
}

.page_shell {
  flex: 1;
  height: 100%;
  display: flex;
}

.side_bar_wrapper {
  width: 65px;
  height: 100%;
}

.resizer {
  width: 8px;
  background-color: rgb(75, 72, 72);
}

.resizer:hover {
  cursor: col-resize;
  background-color: rgb(97, 95, 95);
}

.side_bar_render_wrapper {
  flex: 1;
}

.open_file_container_wrapper {
  flex: 5;
}
