@if (fileNode().mode === "default") {
  <div
    class="directory_item"
    [class.is_selected]="isSelected()"
    [class.is_directory]="fileNode().isDirectory"
    (click)="selectedItem($event)"
    (dblclick)="goIntoItem($event)"
  >
    <div class="directory_item__icon_wrapper">
      <mat-icon class="directory_item__icon">
        {{ fileNode().isDirectory ? "folder" : "insert_drive_file" }}
      </mat-icon>
    </div>
    <span class="directory_item__name">{{ fileNode().name }}</span>
  </div>
}

<!---->

@if (fileNode().mode === "createFile" || fileNode().mode === "createFolder") {
  <div class="directory_item">
    <div class="directory_item__icon_wrapper">
      <mat-icon class="directory_item__icon">
        {{ fileNode().mode === "createFile" ? "folder" : "insert_drive_file" }}
      </mat-icon>
    </div>
    <span class="directory_item__name"> create file </span>
  </div>
}
