<div class="file_x_tool_bar">
  <div class="history_buttons">
    <button
      mat-icon-button
      aria-label="Go back in history"
      matTooltip="Back"
      [disabled]="shouldBackHistoryBeDisabled()"
      (click)="goBackInHistory()"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Go forward in history"
      matTooltip="Forward"
      [disabled]="shouldForwardHistoryBeDisabled()"
      (click)="goForwardInHistory()"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Go upward in directory"
      matTooltip="Upward"
    >
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button mat-icon-button aria-label="Refresh directory" matTooltip="Refresh">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <app-file-x-tool-bar-directory-path-viewer />

  <app-file-x-search />
</div>
