:host {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.file_x_main_page_container {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
  flex-direction: column;
}

.file_x_main_content {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.file_x_main_content_right {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
  min-height: 0;
  min-width: 0;
}
