<div class="container">
  <div class="top">
    <button mat-icon-button matTooltip="File explorer">
      <mat-icon>file_copy</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Search">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Source control">
      <mat-icon>change_history</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Run and debug">
      <mat-icon>bug_report</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Extensions">
      <mat-icon>extension</mat-icon>
    </button>
  </div>

  <div class="bottom">
    <button mat-icon-button matTooltip="Account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>
