<div class="container">
  <div class="top">
    <button
      mat-icon-button
      matTooltip="File explorer"
      (click)="toggleFileExplorer()"
      [class.active]="activeElement == 'file-explorer'"
    >
      <mat-icon>file_copy</mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Search"
      [class.active]="activeElement == 'search'"
      (click)="toggleSearch()"
    >
      <mat-icon>search</mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Search folders"
      [class.active]="activeElement == 'search-folders'"
      (click)="toggleSearchFolders()"
    >
      <mat-icon>tab_search</mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Source control"
      [class.active]="activeElement == 'source-control'"
      (click)="toggleSourceControl()"
    >
      <mat-icon>change_history</mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Run and debug"
      [class.active]="activeElement == 'run-and-debug'"
      (click)="toggleRunAndDebug()"
    >
      <mat-icon>bug_report</mat-icon>
    </button>

    <button
      mat-icon-button
      matTooltip="Extensions"
      [class.active]="activeElement == 'extensions'"
      (click)="toggleExtensions()"
    >
      <mat-icon>extension</mat-icon>
    </button>
  </div>

  <div class="bottom">
    <button mat-icon-button matTooltip="Account">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>
