.container {
  width: 75px;
  height: 100%;

  background-color: var(--bg-tertiary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding-top: 10px;
  padding-bottom: 10px;
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

mat-icon {
  color: var(--text-primary);
}

.active {
  background-color: var(--bg-selected);
}
