.container {
  width: 75px;
  height: 100%;

  background-color: var(--color-background-secondary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-2);
}

.active {
  background-color: var(--color-surface-active);
}
