<div class="file_explorer_container">
  @if (selectedDirectorPath && directoryFileNodes) {
  <div class="file_explorer_top scroll_bar">
    <span> File Explorer </span>
    <div class="file_explorer_buttons">
      <button
        mat-icon-button
        matTooltip="New File"
        (click)="createNewFile()"
        [disabled]="disableCreateFileOrFolder"
      >
        <mat-icon>note_add</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="New Folder"
        [disabled]="disableCreateFileOrFolder"
      >
        <mat-icon>create_new_folder</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Refresh" (click)="refreshClicked()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Collapse folders"
        (click)="collapseFolders()"
      >
        <mat-icon>unfold_less</mat-icon>
      </button>
    </div>
  </div>

  <!---->
  <div
    class="file_explorer_file_tree_container scroll_bar"
    (click)="fileExplorerScrollContainerClicked($event)"
    [class.file_explorer_file_tree_active]="isExplorerActive"
  >
    @for (file of directoryFileNodes; track file.name) {
    <app-file-explorer-item [fileNode]="file" [depth]="0" />
    }
  </div>
  }

  <!---->
  @if (!selectedDirectorPath) {
  <div class="select_folder">
    <span> No folder selected </span>
    <button mat-button (click)="openFolder()">Select folder</button>
  </div>
  }
</div>
