:host {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.file_explorer_container {
  flex: 1;

  min-width: 0;
  min-height: 0;

  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 10px;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
}

.file_explorer_top {
  display: flex;
  min-width: 0;
  min-height: 0;

  overflow-y: hidden;
  overflow-x: auto;

  align-items: center;
  height: 60px;
  justify-content: space-between;

  padding: 0px 10px;
  font-size: var(--font-size-sm);
  text-align: center;
}

.file_explorer_buttons {
  display: flex;
  align-items: center;
  gap: 4px;
}

.file_explorer_file_tree_container {
  flex: 1;
  overflow-y: auto;

  min-width: 0;
  min-height: 0;

  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 10px;
}

.file_explorer_file_tree_active {
  border: 1px solid var(--color-border-primary);
  border-radius: 5px;
}
