<div class="file_x_tabs scroll_bar">
  <div class="tab_item selected">
    <span class="tab_label">folder name frfrfrfrfrfdede</span>
    <mat-icon class="icon">close</mat-icon>
  </div>
  <div class="tab_item">
    <span class="tab_label">folder name</span>
    <mat-icon class="icon">close</mat-icon>
  </div>
   <div class="tab_item">
    <span class="tab_label">folder name</span>
    <mat-icon class="icon">close</mat-icon>
  </div>
   <div class="tab_item">
    <span class="tab_label">folder name</span>
    <mat-icon class="icon">close</mat-icon>
  </div>
</div>
