.tab_item {
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: monospace;
  font-size: 13px;
  cursor: pointer;
  padding: 0 2px;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.tab_active {
  background-color: var(--bg-focus);
}

.tab_text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
