:host {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.file_x_directory_content {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow-y: auto;
  padding: 10px;
}
