:host {
  display: flex;
  min-height: 0;
  min-width: 0;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  flex: 1;
  background-color: rgb(27, 26, 26);
  color: whitesmoke;
}

.error_state {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loading {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.init_git {
  min-height: 0;
  min-width: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
}
.init_git p {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.3px;
  padding: 6px 12px;
}
