.main_dialog {
  padding: 10px;
  border: 1px solid #3c3c3c;
  background: #1e1e1e;
  border-radius: 6px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45),
    0 0 0 1px rgba(255, 255, 255, 0.03) inset;

  width: 240px;
  position: fixed;

  display: flex;
  min-height: 0;
  min-width: 0;
}

.main_dialog::backdrop {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1px);
}

.main_dialog:focus {
  outline: none;
}
