:host {
  display: flex;
  min-height: 0;
  min-width: 0;
}

.file_x_quick_access {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 0;
  min-width: 0;
  width: 200px;
  overflow-y: auto;
}
