<div
  class="item"
  [style.padding-left.px]="level() * 16"
  (click)="toggleExpanded($event)"
>
  @if (!readDirObject().isFile) {
  <mat-icon
    fontIcon="keyboard_arrow_down"
    [class.item_arrow_expanded]="expanded"
    class="item_arrow"
  ></mat-icon>
  } @else {
  <mat-icon fontIcon="insert_drive_file" class="item_icon"></mat-icon>
  }

  <span class="item_text">
    {{ readDirObject().name }}
  </span>
</div>

@if (expanded && readDirObject().children && !readDirObject().isFile) {
<div class="children">
  @for (child of readDirObject().children; track $index) {
  <app-file-item [readDirObject]="child" [level]="level() + 1"></app-file-item>
  }
</div>
}
