<div class="file_x_dir_item">
  <mat-icon>
    @if (fileNode().isDirectory) {
      folder
    } @else {
      insert_drive_file
    }
  </mat-icon>
  <span class="file_x_dir_item_name"> {{ fileNode().name }}</span>
  <span class="file_x_dir_item_path">{{ fileNode().path }}</span>
  @if (!fileNode().isDirectory) {
    <span class="file_x_dir_item_size">
      {{ formatFileSizeToReadableString(fileNode().size) }}</span
    >
  }
  @if (!fileNode().isDirectory) {
    <span class="file_x_dir_item_extension"
      >Extension: {{ fileNode().extension }}</span
    >
  }
</div>
