<div class="file_x_top_bar_container">
  <span>FileX</span>

  <div>
    <button mat-icon-button matTooltip="Minimize" (click)="minimize()">
      <mat-icon>minimize</mat-icon>
    </button>
    <button
      mat-icon-button
      [matTooltip]="isMaximized() ? `Restore` : `Maximize`"
      (click)="restoreOrMaximize()"
    >
      <mat-icon>
        @if (isMaximized()) {
          crop_square
        } @else {
          filter_none
        }
      </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
