<dialog #cmdPaletteDialog>
  <div class="command-palette-container">
    <form class="search-container">
      <input
        type="text"
        class="search-input"
        placeholder="Type a command or search..."
        autofocus
        [field]="searchFrom.term"
        [class.error]="formInvalid()"
      />

      @if (showDropDown()) {
      <div class="drop-down">
        @for (cmd of filteredCommandList(); track $index) {
        <div (click)="commandClicked(cmd)">
          {{ cmd.prefix }}
        </div>
        }
      </div>
      }
    </form>
    <div class="results-container scroll_bar">
      @if (formInvalid()) {
      <!---->
      @for (err of this.searchFrom.term().errors(); track $index) {
      <div>
        {{ err.message }}
      </div>
      }
      <!---->
      }

      <!---->

      @if (!formInvalid()) { lorem }
    </div>
  </div>
</dialog>
