<dialog #cmdPaletteDialog>
  <div class="command-palette-container">
    <form class="search-container">
      <input
        type="text"
        class="search-input"
        placeholder="Type a command or search..."
        autofocus
        [field]="searchFrom.term"
        (input)="onInput()"
        (focus)="onInput()"
      />

      @if (showDropDown()) {
      <div class="drop-down">
        @for (cmd of filteredCommandList(); track $index) {
        <div
          tabindex="0"
          (click)="commandClicked(cmd)"
          (keydown.enter)="commandClicked(cmd)"
          (keydown.space)="commandClicked(cmd); $event.preventDefault()"
        >
          {{ cmd.prefix }}
        </div>
        }
      </div>
      }
    </form>
    <div class="results-container scroll_bar">
      <ng-container *ngComponentOutlet="currentActiveCommandComponent()" />
    </div>
  </div>
</dialog>
