:host {
  display: flex;
  width: 100%;
  min-height: 0;
  min-width: 0;
}

.file_x_tool_bar {
  flex: 1;
  padding: 4px;
  display: flex;
  align-items: center;
  min-height: 0;
  min-width: 0;
}

.history_buttons {
  display: flex;
  gap: 4px;
  align-items: center;
}
