:host {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.container {
  flex: 1;
  min-height: 0;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  text-align: center;


  color: var(--text-primary);
  background-color: var(--bg-primary);
}
