:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  padding: 20px;
}

#xterm_container {
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}

#xterm_container :deep(.xterm) {
  height: 100%;
  width: 100%;
}
