<div class="editor_terminal_tabs">
  <div class="editor_terminal_tabs_tab_items scroll_bar">
    @for (info of activeShells().values(); track $index) {
      <app-editor-terminal-tab-item
        label="Terminal"
        [shellInformation]="info"
      />
    }
  </div>

  <button matIconButton [matMenuTriggerFor]="createTerminalMenu">
    <mat-icon fontIcon="add" />
  </button>
  <mat-menu #createTerminalMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="selectedTerminalShells">
      New Terminal
    </button>
  </mat-menu>

  <mat-menu #selectedTerminalShells="matMenu">
    @for (item of shellExecutableInformations(); track item.path) {
      <button mat-menu-item (click)="createNewTerminal(item.path)">
        {{ item.name }}
      </button>
    }
  </mat-menu>
</div>
