:host {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
  background-color: black;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}