:host {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: black;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  max-height: max-content;
}

.image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
