:host {
  display: flex;
  min-height: 0;
  min-width: 0;
  flex: 1;
}

.container {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
  flex-direction: column;
  padding: 10px;

  background-color: var(--bg-primary);
  color: var(--text-primary);
}

mat-icon {
  color: var(--text-primary);
}

.search_input_container {
  padding: 5px;

  display: flex;
  min-height: 0;
  min-width: 0;

  align-items: center;
  gap: 5px;
}

.result_container {
  padding: 6px 12px;
  border-bottom: 1px solid var(--border-default);
}

.result_container span {
  font-size: 13px;
  letter-spacing: 0.2px;
}

.input_form {
  flex: 1;
  display: flex;
  min-width: 0;
  min-height: 0;
}

.extra_search_options {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search_results_container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px;
}
