:host {
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.editor_text_file_pane {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}
