.file_explorer_tree_item {
  display: flex;
  align-items: center;
  gap: 4px;
  user-select: none;

  min-height: 0;
  min-width: 0;

  padding: 2px;
}

.file_explorer_tree_item mat-icon {
  flex-shrink: 0;
}

.file_explorer_tree_item:hover {
  cursor: pointer;
  background-color: var(--color-surface-hover);
}

.focused {
  background-color: var(--color-surface-active);
}

.elipses {
  display: block;
  width: 100%;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.child_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
  gap: 5px;
}

.create_item {
  display: flex;
  align-items: center;
  padding: 2px 6px;
  min-height: 24px;
  cursor: text;
  border-radius: 4px;
  gap: 3px;
  background-color: var(--color-surface-base);
}

.create_input {
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--font-size-sm);
  background: transparent;
  background-color: var(--color-surface-base);
  padding: 3px;
  color: var(--color-text-primary);
}
