<div
  class="file_explorer_tree_item"
  [style.padding-left.px]="depth() === 0 ? 6 : depth() * 16"
  [class.focused]="isFocused"
  (click)="itemClicked($event)"
>
  @if (fileNode().expanded && fileNode().isDirectory) {
  <mat-icon>keyboard_arrow_down</mat-icon>
  }
  <!---->
  @if (!fileNode().expanded && fileNode().isDirectory) {
  <mat-icon>keyboard_arrow_right</mat-icon>
  }
  <!---->

  @if (fileNode().isDirectory) {
  <mat-icon>folder</mat-icon>
  }
  <!---->

  @if (!fileNode().isDirectory && getFileExt(fileNode().path) ==="html" ) {
  <mat-icon>html</mat-icon>
  }
  <!---->

  @if (!fileNode().isDirectory && getFileExt(fileNode().path) ==="css" ) {
  <mat-icon>css</mat-icon>
  }
  <!---->

  @if (!fileNode().isDirectory && getFileExt(fileNode().path) ==="js" ) {
  <mat-icon>javascript</mat-icon>
  }
  <!---->
  @if (!fileNode().isDirectory && !getFileExt(fileNode().path)) {
  <mat-icon>description</mat-icon>
  }

  <span class="elipses">
    {{ fileNode().name }}
  </span>
</div>

@if (fileNode().children && fileNode().children.length > 0 && fileNode().expanded) {
<div class="child_wrapper">
  @for (child of fileNode().children; track child.name) {
  <app-file-explorer-item [fileNode]="child" [depth]="depth() + 1" />
  }
</div>
}