.parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;

  width: 100%;
  height: 65px;

  -webkit-app-region: drag; /*Allows drag */
  user-select: none; /* optional: prevent text selection while dragging */
}

button,
mat-icon,
mat-tooltip {
  -webkit-app-region: no-drag;

  color: var(--text-primary);
}

.logo_and_action_btns {
  align-items: center;
  display: flex;
  gap: 9px;
}

.logo_action_btns {
  display: flex;
  gap: 4px;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
