name: Build fluf for win32-x64

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js (Latest)
        uses: actions/setup-node@v4
        with:
          node-version: "latest"

      - name: Install dependencies in Build
        run: npm ci
        working-directory: ./build

      - name: Install dependencies in UI
        run: npm ci
        working-directory: ./ui

      - name: Install dependencies in Desktop
        run: npm ci
        working-directory: ./desktop

      - name: Final Build
        run: npm run build
        working-directory: ./build
